# Ignore the virtual environment
venv/

# Ignore the config.json file
config.json
# ignore files which are used to test the server
servertest.py
UBX0_2.ubx
test.py
test02.py
templates/index01.html
data/
logs_data/
logs.zip
Plot/
logs/
logs_*/
logs/*
2025-10-28/
.*/
__pycache__/
output/
output_rt/
.env*
*.log