<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GPS Data Monitor</title>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // server localhost port 5000

      const socket =io("http://localhost:5000");
      
      socket.on("connect", () => {
        console.log("Connected to server");
        console.log("Socket initialized:", socket);
      });
      
      socket.on("update_image", (data) => {
        console.log("socket running");
        console.log("Received update_images event:", data);
        const skyplotImg = document.getElementById("skyplotImg");
        console.log("data.skyplot:", data.skyplot); 
        console.log("data.spectrum:", data.spectrum);
        console.log("CPU load: ", data.cpu_load);
        if (data.skyplot !="data:image/png;base64,") {
          skyplotImg.src = data.skyplot;
        }
        const spectrumImg = document.getElementById("spectrumImg");
        if (data.spectrum != "data:image/png;base64,") {
          spectrumImg.src = data.spectrum;
        }
        const cpuLoadDisplay = document.getElementById("cpuLoadDisplay");
        if(data.cpu_load != "") {
          cpuLoadDisplay.innerText = "CPU Load: " + data.cpu_load + "%";
        }
      });
    });
    async function refreshSkyplot() {
      const img = document.getElementById("skyplotImg");
      img.src = "/skyplot?time=" + new Date().getTime();
    }
    async function refreshSpectrumAnalyzer() {
      const img_spectrum = document.getElementById("spectrumImg");
      // Thêm timestamp vào URL để tránh cache
      img_spectrum.src = "/spectrum?time=" + new Date().getTime();
    }
    async function fetchData() {
      try {
        const response = await fetch("/data");
        const data = await response.json();
        console.log("Fetched data:", data);
        // Xử lý dữ liệu nếu cần, bạn có thể cập nhật giao diện (DOM) tại đây.
      } catch (error) {
        console.error("Error fetching data:", error);
      }
    }
    // setInterval(refreshSkyplot, 10000);
    // setInterval(fetchData, 10000);
    // setInterval(refreshSpectrumAnalyzer, 10000);
  </script>
</head>

<body>
  <h1>GPS Data Monitor</h1>
  <!-- spectrum analy -->
  <div id="mon_span_1">
    <img id="spectrumImg" src="/spectrum" alt="Spectrum Analyzer" width="400" height="400">
  </div>
  <!-- mon_span_2 haven't been used yet -->
  <div id="mon_span_2"></div>
  <div id="nav_sat_1">
    <img id="skyplotImg" src="/skyplot" alt="Skyplot" width="400" height="400">
  </div>
  <!-- nav_sat_2 haven't been used yet -->
  <div id="nav_sat_2"></div>
  <div>
    <h2>CPU Load</h2>
    <div id="cpuLoadDisplay">Loading...</div>
  </div>
</body>

</html>